<IfModule mod_rewrite.c>
    RewriteEngine On

    # Hide .html and .php extensions
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.html [NC,L]
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>
